<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Sages</title>
</head>
<body>
    {{. | fdouble}}
    {{. | fdouble | fsquare}}
    {{. | fdouble | fsquare | fsqRoot}}
</body>
<html>