<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buh-boom!</title>
</head>
<body>
<h1>buh-boom...</h1>


{{if .}}
<main>
  <p><strong>vairable names</strong> (identifiers) and <em>values</em>:</p>
  {{range $key, $value := .}}
     <p><strong>{{$key}}</strong>
     <ul>{{range $value}}<li><em>{{.}}</em></li>{{end}}</ul> 
  {{end}}
</main>
{{end}}

{{/* <form action="/?fname=James" method="POST"> */}}
<form action="/" method="GET">
  <input type="text" name="fname" placeholder="first name" autofocus autocomplete=off>
  <input type="submit" name="submit-btn" value="da button">
</form>

</body>
</html>