<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Name}}<br>
    {{range .Menu}}
        {{.MenuName}}<br>
        {{.MenuHours}}<br>
        {{range .MenuItems}}
            {{.Number}} - {{.Description}} - {{.Price}}<br>
        {{end}}
    {{end}}
{{end}}

</body>
</html>